body{
	background-color: #557A95;
}
.top{
	display: flex;
	margin: 0 auto;
	height: 50px;
	width: 800px;
	border: 1px solid black;
	justify-content: space-around;
	margin-bottom: 10px;
	background-color: #5D5C61;
}
.buttonTop{
	display: flex;
	justify-content: center;
	font-weight: bold;
	flex-wrap: wrap;
	align-items: center;
	background-color: #B1A296;
	padding: 6px;
	border-radius: 20px;
	color: black;
}
.buttonTop:hover{
	cursor: pointer;
	background-color: DarkRed;
}
.content{
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	margin: 0 auto;
	background-color: #7395AE;
}
#item1{
	display: flex;
	background-color: red;
	color: white;
	height: 200px;
	width: 200px;
	justify-content: center;
	align-items: center;
}
#item2{
	display: flex;
	background-color: blue;
	color: white;
	height: 200px;
	width: 200px;
	justify-content: center;
	align-items: center;
}
#item3{
	display: flex;
	background-color: green;
	color: white;
	height: 200px;
	width: 200px;
	justify-content: center;
	align-items: center;
}